@import '../style/colors.scss';

.btnCreateDiv {
    margin:auto;
    text-align: center;
    padding-top: 5px;
}
.btnCreate {
    background-color: $colorGreenButton;
    border: none;
    color: $colorWhite;
    padding: 15px;
    min-width:250px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 34px;
}
.btnCreate:hover {
    font-weight: 700;
}